<!DOCTYPE html>
<html dir="rtl">
<head>
  <meta charset="utf-8" />
  <title>Geha - Complete</title>
  <link href="../static/tacit-css.min.css" rel="stylesheet" type="text/css"></link>
</head>
<style>
.complete-message {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
}
</style>
<body>

  <div class="complete-message">

    <h3> תודה רבה! אנא קרא לנסיין </h3>
    <br>
    <!-- <p><img src="../static/img/heart.svg" style="width:auto; height:auto; max-width:100%; max-height:100px;"></p> -->
    <br>
    <p> המשימה נשמרה, חזרו <a href="/home">לדף הבית</a>.</p>

  </div>

</body>
<script>
window.scrollTo(0,0);
</script>
