<!DOCTYPE html>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<html dir="rtl">
<head>
  <title>Card Game</title>

  <!-- Load libraries -->
  <script src="../static/lib/jquery-3.3.1/jquery.min.js"></script>
  <script src="../static/lib/jspsych-7.2.1/jspsych.js"></script>

  <!-- Load jsPsych plug-ins -->
  <script src="../static/mrst/js/jspsych-mrst-trial.js"></script>
  <script src="../static/mrst/js/jspsych-mrst-instructions.js"></script>
  <script src="../static/mrst/js/jspsych-mrst-comprehension.js"></script>



  <script src="../static/lib/jspsych-7.2.1/plugins/plugin-preload.js"></script>
  <script src="../static/lib/jspsych-7.2.1/plugins/plugin-fullscreen.js"></script>
  <script src="../static/lib/jspsych-7.2.1/plugins/plugin-survey-text.js" type="text/javascript"></script>

  <script src="../static/nivturk-plugins.js"></script>
  <!-- Load CSS styles -->
  <link href="../static/lib/jspsych-7.2.1/css/jspsych.css" rel="stylesheet" type="text/css"></link>
  <link href="../static/mrst/css/mrst-css.min.css" rel="stylesheet" type="text/css"></link>

</head>
<body></body>
<script>

  // Display alert message on back/refresh.
  // https://developer.mozilla.org/en-US/docs/Web/API/WindowEventHandlers/onbeforeunload
  function verify_unload(e){
    e.preventDefault();
    (e || window.event).returnValue = null;
    incomplete_save();
    return null;
  };
  // Define global variables.
  fout = false;

  window.addEventListener("beforeunload", verify_unload);

  

  var jsPsych = initJsPsych({
    show_progress_bar: true,
    message_progress_bar:'',
    use_webaudio:true,
    auto_update_progress_bar: false,
    //override_safe_mode:true,
    on_finish: function() {

      // Remove requirement to verify redirect
      window.removeEventListener("beforeunload", verify_unload);

      // Add interactions to the data variable
      var interaction_data = jsPsych.data.getInteractionData();
      jsPsych.data.get().addToLast({interactions: interaction_data.json()});

      // Download data
      jsPsych.data.get().localSave('json',fout+'_part2.json');



      // Display jsPsych data in viewport.
      redirect_success(fout+'_part2.json');

    }
  });

  // Add version metadata.
  jsPsych.data.addProperties({
    task: 'mrst',
    task_version: '0.2.H',
  });

  </script>
  <!-- Load expeirment -->
  <script src="../static/mrst/js/mrst-params.js"></script>
  <script src="../static/mrst/js/mrst-utils.js"></script>

  <script src="../static/mrst/js/mrst-text-he.js"></script>

  <script src="../static/mrst/js/mrst-experiment.js"></script>
  <script src="../static/mrst/js/mrst-instructions.js"></script>
  <script>

  // Define image preloading.
  var PRELOAD = {
    type: jsPsychPreload,
    images: preload_images,
    audio: preload_audio,
    message: preload_msg,
  }

  // Define experiment fullscreen.
  var FULLSCREEN = {
    type: jsPsychFullscreen,
    fullscreen_mode: true,
    message:fullscreen,
    button_label:continue_label
  }

  //SAVE DATA at the half way point (during break).
  // PRE_READY_02.on_finish = function() {
  //   interim_redirect_success(fout+'_part2.json');
  //   jsPsych.data.get().localSave('json',fout+'_part2.json');

  // }

  READY_02.on_start = function() {
    msg = 'READY_02'
    mode='a'
    pass_message(fout, mode, msg);
  }
  MRST.on_start = function() {
    msg = 'MRST'
    mode='a'
    pass_message(fout, mode, msg);
  }

  FINISHED.on_start = function() {
    msg = 'FINISHED'
    mode='a'
    pass_message(fout, mode, msg);
  }


  

  // Initialize timeline.
  var timeline = [];
  timeline = timeline.concat(GETSUBJECTID);
  timeline = timeline.concat(PRELOAD);
  timeline = timeline.concat(FULLSCREEN);
//   timeline = timeline.concat(INSTRUCTIONS);
//   timeline = timeline.concat(READY_01);
//   timeline = timeline.concat(MRST.slice( 0,  N_trials_first_part));
//   timeline = timeline.concat(PRE_READY_02);
  timeline = timeline.concat(READY_02);
  timeline = timeline.concat(MRST.slice(N_trials_first_part,  N_trials+1));
  timeline = timeline.concat(FINISHED);


  jsPsych.run(timeline);

</script>
</html>
